/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #BFCCA7;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 1.5em; /* Adjust the top padding as needed */
  padding-bottom: 1.5em; /* Adjust the bottom padding as needed */
}

/* Increase the height of the navbar */
.navbar {
  height: 105px; /* Adjust the height as needed */
}

/* Image Height */
.navbar img {
  height: 100px; /* Adjust the height of the logo image */
}

/* Adjust spacing between navbar items */
.navbar-nav .nav-link {
  margin-right: 35px; /* Adjust the right margin for spacing */
}

body {
  background-color: #eee;
}
